@import url('https://fonts.googleapis.com/css?family=Hind|Slabo+27px');

html,h1,h2{
	font-family: 'Slabo 27px',Arial, serif;
}

body{
font-family: 'Hind',Helvetica, sans-serif;
	background-color:#FF8E8B;
}
h1,h2{
	background-color:#E8D087;
	text-align: center;
}
footer{
    color: black;
}